/* início da página de carregamento*/
div#enter{
    width: 100%;
    height: auto;
    background-image: url('../img/Entrada.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#loading{
  margin-left: 50px;
  margin-top: 400px;
  width: 70%;
  height: 4px; /* quanto a imagem cresce pra baixo*/
  padding: 2px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #fff;
  border-radius: 5px;
 
}

#load{
  top: 0;
  margin-left: 5px;
  width: 1%;
  height: 0px; /* quanto a imagem cresce pra baixo*/
  padding: 2px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  /*transition: width 0.3s;*/
  animation-name: loading;
  animation-duration: 4s;
  animation-delay: 2s;
}
/*
#load{
  transition-timing-function: ease-in;
}

#load:hover{
  width: 95%;
}
*/

@keyframes loading {
    0%   {background-color:white; width: 25%;}
    25%  {background-color:yellow; width: 50%;}
    50%  {background-color:white; width: 75%;}
    75%  {background-color:yellow; width: 95%;}
    100% {background-color:white; width: 95%;}

/* Fim da página de carregamento*/